<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunland.hzhc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="flavour"
            android:value="${FLAVOUR_VALUE}" />
        <meta-data
            android:name="category"
            android:value="${CATEGORY_VALUE}" />
        <meta-data
            android:name="plateform"
            android:value="${PLATEFORM_VALUE}" />

        <activity
            android:name=".Ac_location"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="${PLATEFORM_VALUE}.intent.action.MAIN" />
                <category android:name="${PLATEFORM_VALUE}.intent.category.${CATEGORY_VALUE}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ac_main"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.sunland.hzhc.intent.action.QUERY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Ac_module_list" />
        <activity android:name=".modules.sfz_module.Ac_rycx">
            <intent-filter>
                <action android:name="com.sunland.intent.action.QUERY_ID" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Ac_login"/>
        <activity android:name=".modules.jdc_module.Ac_clcx" />
        <activity android:name=".modules.ddc_module.Ac_ddc" />
        <activity android:name=".modules.xmzh_module.Ac_xmzh_list" />
        <activity android:name=".modules.Hotel_module.Ac_hotel" />
        <activity android:name=".modules.Internet_cafe_module.Ac_internet_cafe" />
        <activity android:name=".modules.phone_num_module.Ac_phone_num" />
        <activity android:name=".modules.case_module.Ac_case" />
        <activity android:name=".modules.Hotel_module.Ac_hotel_name" />
        <activity android:name=".modules.Internet_cafe_module.Ac_internet_cafe_names" />
        <activity android:name=".modules.case_module.Ac_case_cates" />
        <activity android:name=".modules.case_module.Ac_case_gxdw" />
        <activity android:name=".modules.abroad_module.Ac_nations_list" />
        <activity android:name=".modules.p_archive_module.Ac_archive" />
        <activity android:name=".modules.ddc_module.Ac_ddc_list" />
        <activity android:name=".modules.xmzh_module.Ac_jg_list" />
        <activity android:name=".modules.case_module.Ac_case_detail" />
        <activity android:name=".modules.own_car_module.Ac_car_list" />
        <activity android:name=".modules.sfz_module.Ac_reg_fdjc" />
        <activity android:name=".modules.sfz_module.Ac_dh" />
        <activity android:name=".modules.batch_check.Ac_batch_check"></activity>
    </application>

</manifest>